:root {

    --section-bg: #1a1a1a;
    --heading-border: rgb(255, 193, 7)
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: sans-serif;

    outline: none !important;

    scroll-behavior: smooth;
}

body {

    /* background-color: #171717; */
}

/*  Designing Carousel  */

.home-carousel {

    /* box-shadow: 0px 0px 15px grey; */

    /* height: 50vh !important; */
}

.home-carousel-image {

    object-fit: cover;
    object-position: center;

}

.home-carousel-inner {
    height: 100%;
}

@media (min-width:1024px) {


    .home-carousel {


        height: 91vh !important;
    }

}


/* Designing ABout Section */


.about {

    /* background-color: #171717; */
    background-color: var(--section-bg);
}


/*  Designing Services  */

.service-card,
.compliment-card {

    width: 325px;
    height: 400px;
}

/* Designing compliments */
.compliment-card {

    width: 290px;
    height: 300px;
}


/* Designing Review -Section */

.review {
    /* background-color: #171717; */
    background-color: var(--section-bg);
}

.review-text {

    width: 85%;
}

.review-pic {

    width: 75px;
    height: 75px;
    object-fit: cover;

    border-radius: 50px;
}


/* designing team ssection */

.team-section {

    background-color: var(--section-bg);
}


.team-pic,
.team-pic-mid {

    width: 200px;
    height: 200px;

    border-radius: 200px;

    object-fit: cover;
    object-position: center;
}

.team-pic-mid {

    width: 250px;
    height: 250px;
}

/*HOME  CONTACT SECTION */

.contact {

    background-color: var(--section-bg);
}


.form-input,
.form-btn-group,
.form-input-textarea {

    width: 360px;
}

.form-input,
input {
    background-color: #121212;

    /* background-color: transparent; */
    /* 
    border-top: none !important;
    border-left: none !important;
    border-right: none !important; */
}

.form-btn {

    /* width: 125px; */
}