:root {

    --section-bg: #1a1a1a;
    --heading-border: rgb(255, 193, 7);

    --footer-border: #404040;

    --navigation-bg: #121212;
}



.more-btn {
    border-width: 3px;
}

.more-btn:hover {

    background-color: #171717 !important;
    color: rgb(255, 193, 7) !important;
}


/* Designing Section Divider */
.divider {

    border: 1px solid #ffd966;
    width: 95%;

    position: relative;
}

.divider-inner {

    position: absolute;

    top: -64px;
    left: 50%;

    width: 30px;
    height: 30px;

    border: 1px solid rgb(255, 193, 7);
    border-top: none;
    border-bottom: none;

    background: #fff;
    /* background: #171717; */

    border-radius: 25px;

    box-sizing: content-box !important;

}

.divider-inner div {
    border: 3px solid rgb(255, 193, 7);

    border-radius: 50%;


}




/*  Designing Navbar  */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar {

    /* background-color: var(--section-bg); */
    background-color: var(--navigation-bg);
    /* background-color: #1a1a1a; */
    /* background-color: #000; */

    border-bottom: 2px solid #333333;
}

.nav-link:hover {

    background-color: #ffcc33;
    color: #333333 !important;
    /* color: white !important; */


    /* color: red; */

    box-shadow: 0px 1px 5px black;

    /* cursor: pointer; */
}


.nav-link:active {

    background-color: #e6ac00;
    color: white !important;

}


@media (max-width:425px) {


    .nav-link,
    .navbar-nav {


        width: 100% !important;
        text-align: center;
    }

}



/* designing footer */

.footer {

    background-color: var(--navigation-bg);

    border-top: 2px solid var(--footer-border);
}

.footer-logo {

    width: 250px;
    height: 250px;
}

.footer-block {

    /* border: 2px solid red; */
    width: 250px;
}

.footer-bottom {

    border-top: 1px solid var(--footer-border);
}

.footer-links {

    cursor: pointer;
}

.footer-links:hover {

    color: #5353c6 !important;
}

.footer-links:active {

    color: #333399 !important;
}